* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headersuperior {
    border-top: solid 2px rgba(170, 167, 167, 0.801);
    width: 98%;
    margin: auto;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    border-radius: 10px;
}
.headersuperior p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(122, 118, 118);
    font-weight: 500;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: url('assets/71f5501c-c6d3-4435-98a8-5a06571725bb.png');
    background-size: cover;
    background-position: center;
    position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHero {
    width: 80%;
}
@media (max-width: 600px) {
    .containerHero {
        width: 90%;
        text-align: center;
    }
    .headersuperior p {
        font-size: 14px;
    }
    .hero img {
        width: 80%;
    }
}

.paraquem {
    padding: 15px;
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.primaridiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paraquem img {
    margin-bottom: 50px;
}
.blackBar {
    background-color: black;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.paragrafos {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.pParaquem {
    font-size: 20px;
    margin-left: 10%;
    width: 80%;
    color: rgb(122, 118, 118);
    margin-bottom: 20px
}

.imgLEt {
    width: 50%;
    justify-content: center;
    align-items: center;
}
.imgLEt img {
    width: 70%;
    margin-left: 15%;
}
@media (max-width: 600px) {
    .paraquem {
        display: flex;
        flex-direction: column;
    }
    .primaridiv {
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
        
    }
    .paraquem img {
        width: 80%;
    }
    .blackBar {
        width: 80%;
    }
    .imgLEt {
        margin-top: 30px;
        width: 90%;
    }
}

.grid {
    padding: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgGrid {
    width: 80%;
}
.containerGrid {
    padding-top: 30px;
}
.container {
    margin-bottom: 30px;
    width: 90%;
    margin-left: 5%;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card {
    width: 30%;
    padding: 10px;
    background-color: #F3F4F5;
}
.pParagrafoCard {
    font-size: 22px;
    color: #aa7c00;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.descriptionCard {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    .imgGrid {
        width: 70%;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 80%;
        margin-left: 10%;
        padding: 10px;
        background-color: rgba(174, 185, 196, 0.719);
    }
}

.fundo {
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url(assets/fundo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: baseline;
    align-items: center;
}
.imgfundococria {
    width: 40%;
}
.imgfundococria img {
    width: 80%;
}
.conteudofundo {
    width: 40%;
}
.pfindoCocria {
    font-size:18px;
    font-weight: 500;
    color: rgb(192, 66, 7);
    margin-bottom: 20px;
}
.btn {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.btn a  {
    color: white;
    text-decoration: none;
}
.btn:hover{
    border: solid 1px black;
}
@media (max-width: 600px) {
    .fundo {
        display: flex;
        flex-direction: column;
    }
    .imgfundococria {
        width: 80%;
    }
    .conteudofundo {
        width: 80%;
        margin-top: 30px;
    }
    .btn {
        width: 100%;
    }
}

.kairah {
    width: 100%;
    height: auto;
    padding: 40px;
    background-image: url(assets/fffff.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.kairadivs {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.introP {
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
}
.ticket {
    width: 80%;
    margin-bottom: 50px;
}
.contentKaiha {
    width: 90%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.pp1 {
    font-size: 19px;
    font-weight: 500;
    color: #FFD799;
}
.pp2 {
    text-align: left;
    margin-top: 10px;
    color: #D9D9D2;
    font-size: 15px;
}
#secondDivKairah {
    background-color: #0A111A;
    border-radius: 20px;
}
#secondDivKairah .logok {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
}
.pLogo {
    font-size: 18px;
    width: 80%;
    color: white;
}
.sub {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    font-size: 15px;
    color: #AA6610;
}
.marinafoto {
    border-radius: 20px;
    width: 300px;
    margin-bottom: 10px;
}
.Preco {
    font-size: 60px;
    width: 60%;
    font-weight: 900;
    color: white;
    text-decoration: line-through;
}
.pPreco {
    margin-top: 10px;
    font-size: 19px;
    color: white;
    margin-bottom: 10px ;
}
.pPreco D {
    font-weight: 900;
}
 .pPreco B {
    color:#A1C473
 }
 .btnBranco {
    width: 80%;
    height: 45px;
    border-radius: 20px;
    border: none; 
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 20px 4px #D9D9D2;
 }
 .btnBranco a  {
    text-decoration: none;
    color:black;
 }
 .ppp {
    width: 90%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
 }
 .percent {
    width: 90%;
    background-color: red;
    border-radius: 10px;
    color: red;
 }
 .pfinal {
    color: white;
    margin-bottom: 20px;
 }


.finalfial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url(assets/fundoteste.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.titleFinal {
    color: white;
    font-size: 30px;
    font-family: Inter, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}
.finalfial .slogam {
    width: 80%;
}
.teste{
    margin-top: 30px;
    width: 50%;
}
.btnFinal {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 20px 4px #ffd105;
}
.btnFinal a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
@media (max-width: 600px) {
    .Preco {
        font-size: 50px;
        width: 80%;
    }
    .kairah {
        display: flex;
        flex-direction: column;
    }
    .kairadivs {
        width: 80%;
    }
    #secondDivKairah {
        width: 90%;
    }
    .btnFinal {
        width: 100%;
    }
}


